@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: Roboto;
}

.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.team .team-list-subtitle, .team .team-list-title {
  font-size: 16px;
  letter-spacing: 0.48px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .logo {
  font-family: Raleway;
  letter-spacing: 0.78px;
  font-size: 26px;
  font-weight: 700;
}
.header .logo-1 {
  color: #2196F3;
}
.header .logo-2 {
  color: #000;
}
.header .header-nav {
  display: none;
}
.header .header-list-contact {
  display: none;
}
.header-burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
}
.header-burger::before, .header-burger::after {
  content: "";
  background-color: #111238;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.header-burger::before {
  top: 0;
}
.header-burger::after {
  bottom: 0;
}
.header-burger span {
  background-color: #111238;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
}
.modal-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 320px;
  min-height: 581px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}
.modal-2 .menu-nav {
  display: flex;
  flex-direction: column;
  gap: 300px;
}
.modal-2 .menu-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.modal-2 .menu-list-info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 64px;
}

.main-section {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  content: "";
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-bottom: 60px;
}
.main-section .main-section-title {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}

.btn-open {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.96px;
  font-weight: 700;
  font-style: normal;
  border-radius: 4px;
  border: 0;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: background-color 0.2s ease;
  padding: 10px 24px;
}
.btn-open:hover {
  background-color: #1566a8;
}
@media screen and (min-width: 480px) {
  .btn-open {
    width: 200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  opacity: 1;
  transition: 0.5s ease;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  min-width: 400px;
}

.close-div {
  position: relative;
}

.btn {
  position: absolute;
  left: 440px;
  border: none;
  background-color: #FFF;
  top: 9px;
}

.close-svg {
  width: 30px;
  height: 30px;
  fill: #000000;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 50%;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  padding: 6px;
  transition: fill 0.1s ease;
  position: absolute;
  left: -195px;
  top: -680px;
}

.modal-text {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-lable-text {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  transition: 0.3s ease;
}

.modal-lable-text:focus-within {
  fill: rgb(33, 150, 243);
}

.modal-lable-namber {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  transition: 0.3s ease;
}

.modal-lable-namber:focus-within {
  fill: rgb(33, 150, 243);
}

.modal-lable-mail {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  transition: 0.3s ease;
}

.modal-lable-mail:focus-within {
  fill: rgb(33, 150, 243);
}

.modal-lable-area {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-lable-checkbox {
  display: flex;
  justify-content: center;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
  letter-spacing: 0.42px;
}

.input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  padding-left: 35px;
  color: #000000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.input-checkbox {
  margin-right: 7px;
}
.input-svg-tel {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 173px;
  left: 50px;
}
.input-svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 105px;
  left: 50px;
}
.input-svg-email {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 241px;
  left: 50px;
}

.link-checkbox {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.btn-form {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-left: 26%;
  border: none;
}

textarea {
  resize: none;
  margin-top: 12px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  padding: 12px;
  color: #000000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.info-section {
  display: flex;
  justify-content: center;
}
.info-section .items {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.info-section .items-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-section .items-svg {
  width: 100%;
  height: 70px;
  background-color: #f5f4fa;
  padding: 10px 0;
  border-radius: 4px;
}
.info-section .items-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-left: 0;
}
.info-section .items-subtitle {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 0;
}
@media screen and (min-width: 480px) {
  .info-section .items-svg {
    height: 120px;
    padding: 25px 0;
  }
}

.affairs {
  padding: 0;
  display: none;
}
.affairs-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1.08px;
  text-align: center;
}
.affairs-div {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.affairs-img-text_1 {
  position: absolute;
  padding-top: 25px;
  top: 224px;
  left: -24px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.affairs-img-text_2 {
  position: absolute;
  padding-top: 25px;
  top: 224px;
  left: 376px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  overflow: hidden;
}
.affairs-img-text_3 {
  position: absolute;
  padding-top: 25px;
  top: 224px;
  left: 776px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  overflow: hidden;
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  margin-top: 50px;
}
.team-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
.team-list {
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.team-list-svg-2 {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.team-svg-2 {
  fill: rgb(175, 177, 184);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s ease, fill 0.2s;
}
.team-svg-2:hover {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}
@media screen and (min-width: 1024px) {
  .team-svg-2 {
    margin-top: 94px;
    flex-wrap: nowrap;
  }
  .team-svg-2 .team-title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
  }
  .team-svg-2-list {
    flex-wrap: nowrap;
    padding-bottom: 94px;
  }
}
.team .team-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.team .team-list-item {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team .team-list-img {
  background: url(<path-to-image>), lightgray -86.437px -3.457px/196.208% 136.002% no-repeat;
  margin-bottom: 30px;
}
.team .team-list-title {
  color: #212121;
  font-weight: 500;
}
.team .team-list-subtitle {
  color: #757575;
  font-weight: 400;
  margin-bottom: 15px;
}
.team .team-list-svg {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

@keyframes team-svg {
  25% {
    transform: scale(0.8);
    fill: rgb(38, 0, 175);
  }
  50% {
    transform: translateY(-10px) perspective(600px) rotateY(360deg) scale(1.25);
  }
}
.team-svg {
  fill: rgb(175, 177, 184);
  border-radius: 50%;
  width: 37px;
  height: 37px;
  padding: 5px;
  transition: background-color 0.2s ease, fill 0.2s ease;
}
.team-svg:hover {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
  animation-name: team-svg;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.clients {
  background-color: #FFF;
}
.clients-div-svg {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.clients-title {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
}
.clients-div-svg {
  display: flex;
  align-items: center;
  margin-bottom: 94px;
}
@keyframes clients-svg {
  25% {
    transform: skewX(10deg) scale(0.8);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
    fill: rgb(38, 0, 175);
  }
}
.clients-svg {
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: rgb(175, 177, 184);
  width: 160px;
  height: 85px;
  transition: fill 0.2s ease, border 0.2s ease;
}
.clients-svg:hover {
  fill: #2196F3;
  border: 1px solid #2196F3;
  animation-name: clients-svg;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
}
@media screen and (min-width: 1024px) {
  .clients-div-svg {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
  background-color: #2F303A;
}
footer .footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-div-2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-div-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
footer .footer-div-4 {
  display: flex;
  margin-left: 93px;
  align-items: center;
  margin: 0;
}
footer .footer-logo {
  padding-left: 0;
}
footer .footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-list .footer-adress {
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: flex;
}
footer .footer-list .footer-nav {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.42px;
  display: flex;
  padding-bottom: 63px;
}
footer .footer-list .footer-nav:nth-child(2) {
  padding-bottom: 0;
}
footer .social-title {
  margin-left: 0;
}
footer .footer-lable {
  align-items: center;
}
footer .footer-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-input {
  margin-bottom: 20px;
}
footer .btn-form-footer {
  margin-bottom: 60px;
}
footer .footer-logo {
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}
footer .footer-logo-first {
  color: #2196F3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.78px;
}
footer .footer-logo-second {
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.78px;
}
footer .footer-lable {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
footer .footer-input {
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  margin-top: 20px;
  padding-left: 16px;
}
footer .footer-form-svg {
  width: 24px;
  height: 24px;
  fill: #FFF;
  position: relative;
  top: 5px;
  left: 12px;
}
footer .btn-form-footer {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition: 0.2s ease;
}
footer .btn-form-footer:hover {
  background-color: #1665a7;
}
footer .social-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 480px) {
  footer .footer-input {
    width: 170%;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 94px;
}
.nav-list .nav-item {
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  transition: 0.2s ease;
}
.nav-list .nav-item:first-child {
  padding: 6px 25px;
}
.nav-list .nav-item:hover {
  color: #FFF;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.main {
  margin-bottom: 94px;
  padding: 0;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 18px;
  padding: 0;
}
.main-item {
  border: 1px solid #EEE;
  transition: 0.2s ease;
}
.main-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.main-item:nth-child(1) {
  order: 1;
}
.main-item:nth-child(2) {
  order: 2;
}
.main-item:nth-child(3) {
  order: 3;
}
.main-item:nth-child(4) {
  order: 4;
}
.main-item:nth-child(5) {
  order: 5;
}
.main-item:nth-child(6) {
  order: 6;
}
.main-item:nth-child(7) {
  order: 7;
}
.main-item:nth-child(8) {
  order: 8;
}
.main-item:nth-child(9) {
  order: 9;
}

.img {
  margin-bottom: 20px;
}

.box {
  position: relative;
  overflow: hidden;
}

.main-item:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-title {
  width: 322px;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
}

h3 {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  margin-left: 24px;
}

p {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
  margin-left: 24px;
}/*# sourceMappingURL=main.css.map */