:root {
    --header-background-color: #FFFFFF;
    --first-logo-color: #2196F3;
    --second-logo-color: #000;
    --header-text-color: #212121;
    --link-hover-color: #2196F3;
    --telephone-nav-color: #757575;

    --main-background-color: #212121;
    --title-color: #FFFFFF;
    --button-background-color: #2196F3;
    --button-color: #FFFFFF;
    --cotent-title-color: #212121;
    --content-subtitle-color: #757575;
    --main-second-background-color: #F5F4FA;

    --footer-bacground-color: #2F303A;
    --footer-nav-color: #2F303A;
}

/* ===================================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: Roboto;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}


/* ================================= HEADER ======================================== */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;

    border-bottom: solid 1px #ECECEC;
}

hr {
    background: #ECECEC;
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    font-family: Raleway;
    letter-spacing: 0.78px;
    font-size: 26px;
    font-weight: 700;
}

.first-logo {
    color: var(--first-logo-color);
}

.second-logo {
    color: var(--second-logo-color);
}

.header-list-nav {
    display: flex;
    gap: 50px;
    margin-left: -125px;
}

.header-list-item-nav {
    color: var(--header-text-color);
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
    transition: 0.2s ease;
}

.header-list-item-nav::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: #2196F3;
    opacity: 0;
    transition: opacity .2s linear;
}

.header-list-item-nav:hover::after{
    opacity: 1;
}

.header-list-item-nav:hover {
    color: var(--link-hover-color);
}

.header-list-contact {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.contact-svg {
    position: relative;
    top: 1px;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: rgba(117, 117, 117, 1);
    transition: 0.2s ease;
}

.contact-svg:hover {
    fill: #2196F3;
}

.contact-svg-2 {
    position: relative;
    top: 3px;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: rgba(117, 117, 117, 1);
    transition: 0.2s ease;
}

.contact-svg-2:hover {
    fill: #2196F3;
}

.header-contact-item {
    color: var(--telephone-nav-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 0.2s ease;
}

.header-contact-item:hover {
    color: var(--link-hover-color);
}

/* ==================================== MAIN ======================================= */

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-top: 94px;
}

.nav-item {
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;

    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    transition: 0.2s ease;
    padding: 6px 22px;
}

.nav-item:first-child {
    padding: 6px 25px;
}

.nav-item:hover {
    color: #FFF;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.main {
    margin-bottom: 94px;

    padding: 0;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 18px;

    padding: 0;
}

.main-item {
    border: 1px solid #EEE;
    transition: 0.2s ease;
}

.main-item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.main-item:nth-child(1) {
    order: 1;
}

.main-item:nth-child(2) {
    order: 2;
}

.main-item:nth-child(3) {
    order: 3;
}

.main-item:nth-child(4) {
    order: 4;
}

.main-item:nth-child(5) {
    order: 5;
}

.main-item:nth-child(6) {
    order: 6;
}

.main-item:nth-child(7) {
    order: 7;
}

.main-item:nth-child(8) {
    order: 8;
}

.main-item:nth-child(9) {
    order: 9;
}

.img {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-bottom: 20px;
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.90);
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.29, 0.48, 0.38, 0.97);
}

.box:hover .overlay {
    transform: translateY(0);
}

.overlay-title {
    width: 322px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding: 63px 24px;
}

h3 {
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;

    margin-left: 24px;
}

p {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;

    margin-bottom: 20px;
    margin-left: 24px;
}

/* ================================== FOOTER ====================================== */

footer {
    background-color: var(--footer-bacground-color);
}

.footer-div {
    display: flex;
}

.footer-div-2 {
    width: 250px;
    margin-right: 30px;
}

.team-list-svg-2 {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.team-svg-2 {
    fill: rgba(175, 177, 184, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.10);
    transition: 0.2s ease;
}

.team-svg-2:hover {
    background-color: rgba(33, 150, 243, 1);
    fill: rgba(255, 255, 255, 1);
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;

    display: flex;
}

.footer-logo-first {
    color: var(--first-logo-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.footer-logo-second {
    color: #FFF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.footer-adress {
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;

    display: flex;
}

.footer-nav {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.42px;

    display: flex;
    padding-bottom: 63px;
}

.footer-nav:nth-child(2) {
    padding-bottom: 0;
}

.footer-div-3 {
    margin-top: 60px;
}

.social-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.footer-div-4 {
    display: flex;
    margin-left: 93px;
    align-items: center;
    margin-bottom: 30px;
}

.footer-lable {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    margin-top: 20px;
    padding-left: 16px;
    margin-right: 12px;
}

.btn-form-footer {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    transition: 0.2s ease;
}

.btn-form-footer:hover {
    background-color: #1665a7;
}

.footer-form-svg {
    width: 24px;
    height: 24px;
    fill: #FFF;
    position: relative;
    top: 5px;
    left: 12px;
}