:root{
    --header-background-color:#FFFFFF;
    --first-logo-color:#2196F3;
    --second-logo-color:#000;
    --header-text-color:#212121;
    --link-hover-color:#2196F3;
    --telephone-nav-color:#757575;

    --main-background-color:#212121;
    --title-color:#FFFFFF;
    --button-background-color:#2196F3;
    --button-color:#FFFFFF;
    --cotent-title-color:#212121;
    --content-subtitle-color:#757575;
    --main-second-background-color:#F5F4FA;

    --footer-bacground-color:#2F303A;
    --footer-nav-color:#2F303A;
}
/* =============================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,html,main,body,p,ol,ul,li{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    font-family: Roboto;
}

.container{
   width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
}

/* ======================HEADER=============================== */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.logo{
    font-family: Raleway;
    letter-spacing: 0.78px;
    font-size: 26px;
    font-weight: 700;
}

.first-logo{
    color: var(--first-logo-color);
}
.second-logo{
    color: var(--second-logo-color);
}

.header-list-nav{
    display: flex;
    gap: 50px;
    margin-left: -125px;
}

.header-list-item-nav{
    color: var(--header-text-color);
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
}

.header-list-item-nav:hover{
    color: var(--link-hover-color);
}
.header-list-contact{
    display: flex;
    gap: 50px;
}

.header-contact-item{
    color: var(--telephone-nav-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header-contact-item:hover{
    color: var(--link-hover-color);
}

/* =========================MAIN================================ */

.main-section{
    background: #2F303A;
    padding: 300px 452px 300px 452px;
}

.main-section-title{
    color: var(--title-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    text-align: center;

    display: flex;
    align-items: center;
}

.main-button{
    color: var(--button-color);
 
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.96px;
    font-weight: 700;
    font-style: normal;
    
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    

    width: 216px;
    height: 50px;
}

.item-title{
    color: var(--cotent-title-color);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: block;
    text-align: left;
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;

    margin: 94px 0;
}

.items-item{
    margin-right: 30px;
}

.items-item:last-child{
    margin: 0;
}

.item-title{
    margin-bottom: 10px;
}

.item-subtitle{
    color: var(--content-subtitle-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.affairs-title {
    color: var(--cotent-title-color);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    text-align: center;

    margin-bottom: 50px;
}

.affairs-img {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: inline-flex;
    justify-content: space-between;
}

.team {
    background-color: var(--main-second-background-color);
    margin-top: 94px;
}

.team-title{
    color: var(--cotent-title-color);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    text-align: center;

    padding-top: 94px;
    padding-bottom: 50px;
}

.team-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    padding-bottom: 94px;
}

.team-list-item{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;

}

.team-img{
    background: url(<path-to-image>), lightgray -86.437px -3.457px / 196.208% 136.002% no-repeat;   
    margin-bottom: 30px;
}

.team-list-title{
    color: var(--cotent-title-color);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;

    padding-bottom: 10px;
}

.team-list-subtitle{
    color: var(--content-subtitle-color);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;

    padding-bottom: 30px;
}

/* ================FOOTER==================== */

footer{
    background-color: var(--footer-bacground-color);
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;

    display: flex;
}

.footer-logo-first{
    color: var(--first-logo-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.footer-logo-second{
    color: #FFF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.footer-adress {
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;

    display: flex;
}

.footer-nav {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.42px;

    display: flex;
    padding-bottom: 60px;
}

.footer-nav:nth-child(2){
    padding-bottom: 0;
}