footer {
    background-color: $footerBacgroundColor;

    @media screen and (min-width: 1240px) {
        .footer-div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;

            &-2 {
                width: 250px;
                margin-right: 30px;
            }

            &-3 {
                margin-top: 60px;
            }

            &-4 {
                display: flex;
                margin-left: 93px;
                align-items: center;
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (min-width: 320px) {

    .footer-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;


        &-2 {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        &-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        &-4 {
            display: flex;
            margin-left: 93px;
            align-items: center;
            margin: 0;
        }
    }

    .footer-logo {
        padding-left: 0;
    }

    .footer-list {
        width: 216px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-title {
        margin-left: 0;
    }

    .footer-lable {
        align-items: center;
    }

    .footer-search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-input {
        margin-bottom: 20px;
    }

    .btn-form-footer {
        margin-bottom: 60px;
    }
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 15px;
    display: flex;


    &-first {
        color: $firstLogoColor;
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.78px;
    }

    &-second {
        color: #FFF;
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.78px;
    }
}

.footer-adress {
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;

    display: flex;
}

.footer-nav {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.42px;

    display: flex;
    padding-bottom: 63px;


    &:nth-child(2) {
        padding-bottom: 0;
    }
}

.footer-lable {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    margin-top: 20px;
    padding-left: 16px;
    margin-right: 12px;
}

.footer-form-svg {
    width: 24px;
    height: 24px;
    fill: #FFF;
    position: relative;
    top: 5px;
    left: 12px;
}

.btn-form-footer {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    transition: 0.2s ease;


    &:hover {
        background-color: #1665a7;
    }
}

.social-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 40px;
}