$headerBackgroundColor: #FFFFFF;
$firstLogoColor: #2196F3;
$secondLogoColor: #000;
$headerTextColor: #212121;
$linkHoverColor: #2196F3;
$telephoneNavColor: #757575;

$mainBackgroundColor: #212121;
$titleColor: #FFFFFF;
$buttonBackgroundColor: #2196F3;
$buttonColor: #FFFFFF;
$cotentTitleColor: #212121;
$contentSubtitleColor: #757575;
$mainSecondBackgroundColor: #F5F4FA;

$footerBacgroundColor: #2F303A;
$footerNavColor: #2F303A;